<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		
	<title><Chart by Decades></title>
</head>

<body>
	<div class="container">
		<canvas id="myChart"></canvas>
	</div>
	
	<script>
		let myChart = document.getElementById('myChart').getContext('2d');
		
		let emChart = new Chart(myChart, {
		type: 'bar', 
		data: {
			labels:['1950s', '1960s', '1970s', '1980s', '1990s', '2000s', '2010s'],
			datasets:[{
				label:'Avg CO2 Emissions',
				data:[2.6, 3.5, 4.6, 4.7, 5.5, 6.0, 5.5 
				],
				backgroundColor: 'Red',
				hoverBackgroundColor: 'Pink',
				borderWidth: 2,
				borderColor: 'Grey'				
			}]
		},
		options:{
			title:{
				display: true,
				text: 'US CO2 Emissions by Decade',
				fontSize: 30
			},
			legend:{
				position: 'bottom'
			}, 
			scales: {
    			yAxes: [{
      				scaleLabel: {
        			display: true,
        			fontSize: 20,
        			labelString: 'CO2 Emissions (Billion Tonnes)'
      				}
    			}],
    			xAxes: [{
    				scaleLabel: {
    				display: true,
    				fontSize: 20,
    				labelString: 'Decade'
    				}
    			}]
  			}     
		}
		});
		
	</script>

</body>

</html>